<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madrasahdigital.walisantri.ppi67benda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_green"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_green"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.addsantri.AddSantriActivity"
            android:configChanges="locale|orientation"
            android:label="@string/tambahkan_santri"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name=".view.activity.addsantri.WelcomeMsgAddSantri"
            android:configChanges="locale|orientation"
            android:label="@string/title_activity_finance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.HomeActivityV2"
            android:label="@string/title_activity_home_v2"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.PresenceActivityV2"
            android:configChanges="locale|orientation"
            android:label="@string/Presence"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.NotifActivity"
            android:configChanges="locale|orientation"
            android:label="@string/announce"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity
            android:name=".view.activity.MakePaymentActivity"
            android:configChanges="locale|orientation"
            android:label="@string/dopayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FinanceActivity"
            android:configChanges="locale|orientation"
            android:label="@string/title_activity_finance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.PresenceActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.SplashScreen"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>