<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madrasahdigital.walisantri.ppi67benda">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".services.UpComingArticlesReceiver"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".services.ArticlesFirebaseMessagingServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_logo_persis" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/logo_persis" />

        <activity
            android:name=".view.activity.InfoWaliSantriActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.ProfilPesantrenActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.InfoPendaftaranActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.OtpActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.payment.HowToPayActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.payment.DetailPembayaran"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.payment.DetailMakePaymentActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.WelcomeGuideActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.LupaSandiActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.payment.DetailTagihanActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.payment.TagihanPembayaranPerSantriActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.payment.RiwayatPembayaranActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.payment.ChooseSantriPaymentActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.NewsFromPesantrenActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.AboutActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.presence.ChooseSantriPresenceActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.DetailNewsActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.addsantri.AddSantriActivity"
            android:configChanges="locale|orientation"
            android:label="@string/tambahkan_santri"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.addsantri.WelcomeMsgAddSantri"
            android:configChanges="locale|orientation"
            android:label="@string/title_activity_finance"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.HomeActivityV2"
            android:configChanges="locale|orientation"
            android:label="@string/title_activity_home_v2"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.presence.PresenceActivityV2"
            android:configChanges="locale|orientation"
            android:label="@string/Presence"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".view.activity.RegisterActivity"
            android:configChanges="locale|orientation"
            android:label="@string/tambahkan_santri"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.payment.MakePaymentActivity"
            android:configChanges="locale|orientation"
            android:label="@string/dopayment"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.SplashScreen"
            android:configChanges="locale|orientation"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>